body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #232a34;
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.main-head {
    width: 100%;
    height: 100%;
    
    
}

.container {
    width: 90%;
    margin: auto;
    /*    display: flex;*/
    padding-top: 70px;
    overflow: auto;
    

}

.inner-card {
    width: 33.33%;
    float: left;
    padding: 15px;
    position: relative;

}

.main-head .card {

    border: 1px solid #808489;
    text-align: center;
    margin-bottom: 20px;
    padding: 118px 23px 65px 23px;
    overflow: hidden;

}


.card:hover {
    border: 1px solid #d73e4d;

}
.main-head .card .card-item
{
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    width: 100%;
    
    
}
.main-head .card:hover .card-item
{
    top: -10px;
}
.main-head .card .card-item .card-img
{
    font-size: 48px;
    color: #808489;
    width: 80px;
    background-color: #232a34;
    margin: 0 auto;
}
.main-head .card:hover .card-item .card-img
{
    color: #d73e4d;
}
h6
{
    font-size: 18px;
    color: #292929;
    font-weight: 700;
}
.main-head .card .card-item a
{
    color: #808489;
    text-transform: capitalize;
    margin-top: 33px;
    text-decoration: none;
    display: inline-block;
}
.com
{
    transition: 0.3s all ease-in-out;
}
.main-head .card:hover .card-item h6 a
{
    color: #d73e4d;
}
.main-head .card p
{
    opacity: 0;
    transition-delay: 0.3s;
    padding: 15px 0px;
    transform: translate3d(0,200px,0);
    transition: 0.4s all ease-in-out;
}
.main-head .card:hover p
{
    opacity: 1;
    color: white;
    transform: translate3d(0,0,0);
}

